<div class="section" id="call-for-training" style="color:#D9DBDC">
    <h2 class="title">CALL FOR WORKSHOPS</h2>
    <hr/><br>
    <div>
      <h3 class="text-title mb-1" style="color: #e152b5">ElixirConf® US 2025 conference will be accompanied by a day of 1.5h and 3h workshops to mix and match from on Aug 27</h3>
      <p class="text-content mb-2" align="left" style="color: black">We'd love to hear from you if you'd like to become one of our trainers. Submit your proposal by <strong>May 4</strong>.
      <p class="text-content mb-5" align="center" style="margin-top:3em">
      <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://forms.gle/dWW96i1eeApf56Hx8">SUBMIT WORKSHOP</a>
    </div>
</div>
