<div class="section g2g" id="g2g">
  <div class="row">
      <div class="left-content left">
        <h2 class="title">Make ElixirConf Your Next Team G2G!</h2>
        <hr/>
        <p>Make the most of your trip—book team time 2 days before the conference to reconnect, align, and have fun.
          <br><strong>Why it matters</strong>: Remote teams thrive when they meet in person.
          <br><strong>Bonus</strong>: You’re near Cape Canaveral & Universal Studios.
          <br><br><strong>Schedule idea</strong>:
          <br>• Days 1: Get Together: meet, plan, and bond
          <br>• Day 2: Hands-on workshops
          <br>• Days 3–4: Main conference
          <br><br>Build knowledge and team connection—start planning today!
        </p>
        <p class="text-content mb-5" align="center" style="margin-top:3em">
          <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://elixirconf.com/2025/05/09/Bring-Your-Remote-Team-Together/">Read more</a>
        </p>
      </div>
      <div class="right-content">
          <br/>
          <div class="image-container">
              <img
                  class="g2g-image"
                  src="{{site.baseurl}}/assets/images/g2g.png"
                  alt="g2g"
              />
          </div>
      </div>
  </div>
</div>
