<div class="section newsletter" id="newsletter">
<!--    <h2 class="title">NEWSLETTER
</h2>
    <hr/>
    <p class="section-text mb-3">
Sign up to the newsletter to get all the updates about this event!

    </p>
    <div class="form-container">
      <getresponse-form form-id="9f113102-3660-4fe0-844d-f6c58a731903" e="0"></getresponse-form>
    </div>-->
    <h2 class="title">WAITING LIST
</h2>
    <hr/>
    <p class="section-text mb-3">
Be the first to get access to discounted tickets and news about the event! Just subscribe to the event mailing list. (if you can't see the form below, change your browser)

    </p>
    <div class="form-container">
      <getresponse-form form-id="a76af8ab-f08d-4ed9-a0b0-0d3fc8fd1ba2" e="0"></getresponse-form>
    </div>
</div>
