<div class=“section register” id=“register”>
    <h2 class=“title”>REGISTER</h2>
    <hr/></br></br>
    <div class=“register-widget”>
        <tito-widget event=“elixirconf/2025”></tito-widget>
    </div>
    <script src=“https://js.tito.io/v2/with/inline” async></script>
    <style type=“text/css”>
      .tito-widget .tito-form-actions .tito-submit {
        background-color: purple !important;
      }
      .tito-widget .tito-widget-form {
        background-color: lightgrey !important;
      }
      /* Remove bold from ticket descriptions */
      .tito-widget .tito-ticket-description,
      .tito-widget .tito-ticket-name {
        font-weight: normal !important;
      }
    </style>
</div>
