<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr />
    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames acante ipsum primis
    </p> -->


    <div class="row sponsors">

<!--
        <h2 class="sponsor-title">Diversity & Inclusion Sponsors</h2>

         <a href="https://www.fresha.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/Fresha-logo-transparent-bg-4096x2160.png" alt="Fresha" />
        </a>
-->
        <h2 class="sponsor-title">Platinum Sponsor</h2>
        <a href="https://alembic.com.au" target="_blank">
            <img src="https://alembic.com.au/_next/static/media/alembic-logo.d5371a3e.svg" alt="alembic" />
        </a>

          <h2 class="sponsor-title">Gold Sponsors</h2>

        <a href="https://www.wyeworks.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/Wyeworks-Logo-Black-Red.png" alt="Wye Works" />
        </a>

        <a href="https://www.erlang-solutions.com" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/esl logo.svg" alt="Erlang Solutions" />
        </a>

        <a href="https://www.whatnot.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/whatnot.png" alt="WhatNot" />
        </a>

        <a href="https://www.dnsimple.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/dnsimple-logo-dark.svg" alt="DNSimple" />
        </a>

        <h2 class="sponsor-title">Happy Hour Sponsor</h2>

        <a href="https://www.mimiquate.com" target="_blank">
            <img src="{{site.baseurl}}/assets/images/Mimiquate.png" alt="Mimiquate" />
        </a>

       <h2 class="sponsor-title">Silver Sponsor</h2>
       <a href="https://www.mimiquate.com" target="_blank">
           <img src="{{site.baseurl}}/assets/images/Mimiquate.png" alt="Mimiquate" />
       </a>

        <a href="https://hashrocket.com" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/hashrocket logo.png" alt="Hashrocket" />
        </a>
        <a href="https://jumpapp.com/?src=polymer.co" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/jump-logo-transparent.png" alt="Jump App" />
        </a>
        <a href="https://joydrive.com/about-us" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/Joydrive Logo.png" alt="Joydrive" />
        </a>

        <a href="https://www.dscout.com" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/dscout.png" alt="Dscout" />
        </a>

        <h2 class="sponsor-title">Lanyard Sponsor</h2>

         <a href="https://oban.pro/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/oban-pro-logotype-horizontal-dark.svg" alt="Oban Pro" />
        </a>

<!--
        <!-- Sponsors Carousel -->
        <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
 -->
    </div>
</div>
