<div
    class="section venue"
    id="venue"
    style="background-image: url('{{site.baseurl}}/assets/images/baner1920x717-chicago-venue_2.jpg');"
>
    <div class="row">
        <div class="left-content left">
            <h2 class="title" style="color: #ffffff">VENUE & ACCOMMODATION</h2>
            <hr />
            <p class="venue-subtitle">
                <strong><a
                        href="https://www.ihg.com/voco/hotels/us/en/chicago/chiwp/hoteldetail"
                        >voco Chicago Downtown</a></strong>
            </p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">350 W Wolf Point Plaza<br />
                Chicago, IL 60654 United States<br />
            +1 312 836 5000</p>
                    </div>
                    <div class="col-row"></div>
                </div>
                <div class="col-right"></div>
            </div>

            <p class="venue-subtitle" style="color: #ffffff">ACCOMMODATION</h2>
            <p class="venue-text">
                Book your room at the voco Chicago Downtown - Riverwalk for $249 + tax via
                <a
                    href="https://www.ihg.com/voco/hotels/us/en/find-hotels/select-roomrate?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=CHIWP&qCiD=09&qCiMy=082026&qCoD=11&qCoMy=082026&qGrpCd=EXC&qAAR=6CBARC&qRtP=6CBARC&setPMCookies=true&qSHBrC=VX&qDest=350%20W.%20Wolf%20Point%20Plaza,%20Chicago,%20IL,%20US&showApp=true&adjustMonth=false&srb_u=1"
                    style="color: #e94d8b"
                    target="_blank"
                    >this link.</a
                >
                Click the link, choose the date and it will populate the group rate. Please mind the cancellation policy. <br /><br />
                The link is only valid through the cut-off date of August 10th.
            </p>
        </div>
        <div class="right-content">
            <br />
            {% include map.html %}
        </div>
    </div>
</div>
