<div
    class="section venue"
    id="venue"
    style="background-image: url('{{site.baseurl}}/assets/images/renaissance-orlando.jpg');"
>
    <div class="row">
        <div class="left-content left">
            <h2 class="title" style="color: #ffffff">VENUE & ACCOMMODATION</h2>
            <hr />
            <p class="venue-subtitle">
                <strong><a
                        href="https://www.ihg.com/voco/hotels/us/en/chicago/chiwp/hoteldetail"
                        >voco Chicago Downtown</a></strong>
            </p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">350 W Wolf Point Plaza<br />
                Chicago, IL 60654 United States<br />
            +1 312 836 5000</p>
                    </div>
                    <div class="col-row"></div>
                </div>
                <div class="col-right"></div>
            </div>
<!--
            <p class="venue-subtitle" style="color: #ffffff">ACCOMMODATION</h2>
            <p class="venue-text">
                Book your room at the Renaissance Orlando at SeaWorld for $184 + tax via
                <a
                    href="https://book.passkey.com/go/2025ElixirConfUS"
                    style="color: #e94d8b"
                    target="_blank"
                    >this link.</a
                >
                Please mind the cancellation policy. You can also book your room
                via phone call using the number 1-407-351-5555 or 1-800-380-7917 and refering to ElixirConf US.<br /><br />
                Room rates will be subject to a discounted daily resort fee of $20.00 (currently $40.00 per room per
                night, plus applicable taxes) in effect at the time of check in. This fee will cover several amenities which at this
                time include:<br />
                • Daily Scheduled Shuttle Service to: Magic Kingdom, Hollywood Studios, Epcot, Animal Kingdom, Disney Springs,
                Universal Studios<br />
                • Daily Enhanced Wireless Internet in Guest Room<br />
                • One Time Welcome Resort Beverage Resort Beverage, two coupons per room, per stay (Beer/Wine)<br />
                • Daily Basic Wireless Internet in Convention & Meeting Space.
            </p>-->
        </div>
        <div class="right-content">
            <br />
            {% include map.html %}
        </div>
    </div>
</div>
