<div class="section video" id="video">
    <h2 class="title">2025 TALK RECORDINGS</h2>
    <hr/>
    <div class="videos-container">
        {% for video in site.videos %}
            <div class="video-item">
                <div class="item-container">
                   <div class="item-right">
                   <iframe width="100%" height="185em" src="{{ video.video_url_short }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <a class="video-title" href="{{site.baseurl}}{{video.url}}">"{{ video.title }}"</a>
                 <p class="video-item-tags">{{ video.tags }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    <a class=" btn-outline mb-1 btn-orange" href="https://youtube.com/playlist?list=PLqj39LCvnOWZzC6nN1OaBZLmxhpqCLfKt&si=P8hXf0gJGYn5JRzQ" target=”_blank”>ALL VIDEOS</a>
    </div>
</div>
