<div class="section welcome" id="welcome" style="color: #D9DBDC">
    <div class="welcome-container">
        <div class="welcome-image">
            <img
                src="{{site.baseurl}}/assets/images/elixirconf-chris.jpg"
                alt="ElixirConf Chris"
            />
        </div>
        <div class="welcome-content">
            <h2 class="title">ABOUT THE EVENT</h2>
            <hr />
            <br />
            <h3 class="text-title">
                America's Premier Elixir & Phoenix Conference
            </h3>
            <div class="text-content">
                <p>
                    ElixirConf US: Where Elixir developers unite to learn and innovate. Connect with core team members, discover the latest features, and stay ahead of ecosystem developments. 
                </p>
                <p>
                   From beginners to experts, benefit from hands-on training and thought-provoking keynotes. Join our community and help shape Elixir's future.
                </p>
                <p>
                    Join us as we champion the growth and innovation of the
                    Elixir community!
                </p>
            </div>
        </div>
    </div>
</div>
